/* add background color */
body {
    width: 100%;
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: center;
}

/* add container style */
body div {
    width: 50%;
    background-color: white;
    color: blue;
    border-radius: 1.5rem;
    border-color: black;
    border-width: 55px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/* add generated password readout block style */

/* add rows inside the container for names and checkboxes */

/* add generate button style */

/* add style to checkboxes */

/* add style to the copy button */